mfs/.ipms/blocks
mfs/.ipms/config
mfs/.ipms/bin/ipms
config.sh
*.sw*
.jekyll-cache
.save
.gradle/
_site
_ipfs
_perl5
*~
[a-zA-Z]
[a-zA-Z].*
*.jar
.#*
*#
META-INF/
*.class
*.xml
*.html
*.bin
*.exec
caches-jvm/
build/*